#cadastro{
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding-bottom: 100px;
}
#form form{
    font-size: 20px
}
#form form input{
    font-size: 20px;
    height: 30px;
    width: 100%;
    text-align: center;
}
#submit{
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family: maven-pro-light;
    font-weight: bold;
    color: white;
    background-color: #0984e3;
    border: none;
    box-shadow: 1px 1px 5px -3px black;
    cursor: pointer;
    transition: .3s;
}
#submit:hover{
    width: 151.5px;
    height: 40.4px;
    font-size: 20.2px;
    box-shadow: 1.01px 1.01px 5.05px -2px black;
}
@media only screen and (max-width: 600px){
    #cadastro{
        width: calc(100% - 40px);
    }
    #backgnd{
        width: 100vw;
    }
}